@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    background-color: black;
}


/* Styling the sidebar*/
.sidebar {
    background-color: black;
    align-items: flex-end;
    box-sizing: border-box;
    width: 465.43px;
    min-height: 100vh;
    padding-right: 20px;
    overflow-y: fixed;
    position: fixed;
    border-right: solid;
    border-color: grey;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
}
/* Logo */
.sidebar .logo {
    display: flex;
    align-items: center;
    float: inline-start;
}

.logo img {
    width: 85px;
    margin-left: 0px;
}
/* Section A of sidebar */
.categories {
    width: 240px;
    height: 786.75px;
    color: white;
}

.category {
    width: 210px;
    display: flex;
    align-items: center;
    height: 58px;
    padding: 24px;
    margin-left: 0px;
    font-size: 24.53px;
    font-weight: 400;
    cursor: pointer;
    text-align: right;
}

.category:hover {
    background: #f9f9f911;
    border-radius: 99999px;
}

.category & .material-icons {
    width: 154px;
}

.category .active {
    font-weight: bold;
    fill: white;
}

.category .material-icons {
    color:black;
    outline-color: white;
    background-color:none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-right: 15px;
}

.postbutton {
    background: rgb(29, 155, 240);
    height: 52px;
    width: 231px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 9999999px;
    margin: 10px 0px 15px 0px;
    padding: 0 40px;
    cursor: pointer;
    
}
.category .postbutton {
    align-items: center;
    margin-left: 80;
    float: right;
}
/* Section B of sidebar = footer */


.footer {
    width: 240px;
    height: calc(100vh - 786.75px);
    color: white;
}

.account {
    width: 210px;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 2px;
    font-size: 17px;
    font-weight: 0;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    display: block;
    bottom: 0%;
    align-content: center;
    text-align: center;
}

.account:hover {
    background: #f9f9f911;
    border-radius: 99999px;
}

.account .material-icons {
    color:white;
    outline-color: white;
    background-color:none;
    width: 24px;
    height: 24px;
}

.account .front i {
    font-size: 36px!important;
    position:relative;
    width: 35px;
  }
  
  p {
    display: inline-block;
    width:70%;
  }

  .account .back i {
    font-size: 36px!important;
    position:relative;
    width: 25px;
    color:black;
  }



